<section id="about" class="band band-cream">
  <div class="band-inner about-inner about-inner--reverse">
    <div class="about-image-col">
      <%= image_tag 'yamanashi.jpg', alt: 'Kofu, Yamanashi skyline with Mt. Fuji', class: 'about-photo' %>
    </div>
    <div class="about-text-col">
      <h2 class="band-heading"><span>&#128214;</span> My Story</h2>
      <p>
        I came to Japan August 5th 2018 to live in beautiful Hokuto City Yamanashi Prefecture as an Assistant Language Teacher on the Japanese Exchange and Teaching Program. Over the course of five years connecting with my students and coworkers I decided that I wanted to stay in Japan.
      </p>
      <p>
        Although I loved teaching, my curiosity drove me to branch out and learn something new. In the age of AI there is much to be gained, but there is also much to protect. I decided to become an AI Assisted Full-Stack Developer who leverages AI both effectively and ethically.
      </p>
    </div>
  </div>
  <div class="band-inner about-inner">
    <div class="about-text-col">
      <!--<h2 class="band-heading"><span>&#128075;</span> About</h2>-->
      <p>
        Now I'm based out of Nakano Tokyo shipping AI powered software after graduating the world's best coding bootcamp, Le Wagon! I'm learning new things every day and looking to bring my new array of skills to a fresh opportunity now that I'm a member of this great community.
      </p>
      <p>
      </p>
    </div>
    <div class="about-image-col">
      <%= image_tag 'tokyo.jpg', alt: 'Tokyo skyline at night', class: 'about-photo' %>
    </div>
  </div>
</section>
