<section id="banner" class="banner d-flex align-items-center justify-content-center text-center">
  <div class="banner-content">
    <h1 class="banner-title">Glen Gerth</h1>
    <p class="banner-subtitle">Full-Stack Developer</p>
    <a href="#projects" class="btn btn-outline-light btn-lg mt-3">View My Work</a>
  </div>
</section>
