<section id="contact" class="section-card text-center">
  <h2 class="section-title">Get In Touch</h2>
  <p class="footer-text">Interested in working together? Feel free to reach out.</p>
  <div class="social-links">
    <a href="#" class="social-link" id="copy-email" data-email="glengerth3@gmail.com" title="Copy email">
      <i class="fa-solid fa-envelope"></i>
    </a>
    <span class="copy-tooltip" id="copy-tooltip">Copied!</span>
    <% link_to "https://github.com/GerthIII", target: '_blank', class: 'social-link' do %>
      <i class="fa-brands fa-github"></i>
    <% end %>
    <% link_to "https://www.linkedin.com/in/glengerth/", target: '_blank', class: 'social-link' do %>
      <i class="fa-brands fa-linkedin"></i>
    <% end %>
  </div>
</section>
